<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="icon" href="/images/favicon.ico" sizes="any">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/images/favicon-48x48.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/images/favicon-64x64.png">
    <link rel="apple-pptouch-icon" href="/images/apple-touch-icon.png">
    <link rel="stylesheet" href="/stylesheets/application.css">
    <script src="/js/relay.js"></script>
  </head>
  <body data-theme="<%= Relay::THEME %>" class="font-sans">
    <%== yield %>
  </body>
</html>
